#header
{
	color: red;
}
#Heading
{
	color: white;
}
#deletecomplete
{
	width: 60px;
}
#first
{
	height: 70px;
	margin: 20px auto 20px auto;
}
#list
{
	margin-left: 20px;
	margin-top: 20px;
}
.btn-primary
{
	float: right;
}
.table-hover
{
	width: 1000px;
	margin: 20px auto 20px auto;
}
.jumbotron
{
	width: 1000px;
	margin: 20px auto 20px auto;
	background-color: #155288;
	color: white;
	border-radius: 0px;
}
#addbutton
{
	margin-right: 20px;
}
#mybutton
{
	display: inline-table;
}
#mybuttonone
{
	margin-top: 7px;
	height: 32px;
	width: 60px;
	margin-right: 5px;
}
#mybuttontwo
{
	margin-top: 7px;
	height: 32px;
	width: 60px;
	margin-left: 5px;
}
.btn-group-xs .btn, .btn-xs
{
	padding: 6px 5px;
}
#myPage
{
	width: 660px;
}
#selection
{
	width: 450px;
	height: 150px;
	text-align: center;
	background-color: white;
	float: center;
	margin: 20px 0% 20px auto;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination li 
{
    display: inline;
}
.pagination li a
{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination .active a, .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination>.active span:focus, .pagination .active span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}