<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="css/style.css">
  	<link rel="stylesheet" type="text/css" href="css/style2.css">
  	<script src="js/jquery.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  	<script src="app/lib/angular.min.js"></script>
  	<script src="app/app.js"></script>
	<script src="app/controllers/myemployees.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
	<h1 id="header" align="center">Employeees Management</h1>
	<table id="first" class="jumbotron">

		<tr>
			<td><p id="list">EMPLOYEES LIST</p></td>
			<td><button type="button" class="btn btn-primary" id="addbutton" data-toggle="modal" data-target="#myModal">+Add Employees</button></td>
		</tr>
		<tr>
			<table class="table table-hover table-striped table-class" id= "table-id">
    			<thead>
      				<tr>
      					<th>ID</th>
        				<th>Name</th>
        				<th>Email</th>
        				<th>Contact Number</th>
        				<th>Position</th>
        				<th><img src="images/action.png"> Action</th>
      				</tr>
    			</thead>
    			<tbody id="myTable">
      				<tr ng-repeat="empployee in empployees">
      					<td ng-click="editData(empployee.id)" data-target="#myShowDetail" data-toggle="modal">{{empployee.id}}</td>
      					<td ng-click="editData(empployee.id)" data-target="#myShowDetail" data-toggle="modal">{{empployee.name}}</td>
      					<td ng-click="editData(empployee.id)" data-target="#myShowDetail" data-toggle="modal">{{empployee.email}}</td>
      					<td ng-click="editData(empployee.id)" data-target="#myShowDetail" data-toggle="modal">{{empployee.contact_number}}</td>
      					<td ng-click="editData(empployee.id)" data-target="#myShowDetail" data-toggle="modal">{{empployee.position}}</td>
      					<td id="mybutton">
        					<p><button class="btn btn-danger btn-xs" id="mybuttonone" ng-click="myDelete(empployee)" data-title="Delete" data-toggle="modal" data-target="#delete" >Delete</</button></p>
        					<p><button class="btn btn-primary btn-xs" id="mybuttontwo" data-title="Edit" data-toggle="modal" data-target="#myModalEdit" ng-click="editData(empployee.id)">Edit</button></p>
        				</td>
      				</tr>
    			</tbody>
  			</table>
  		</tr>

	<!-- Pagination -->

		<tr>
			<td>
				<div class="container" id="myPage">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous" ng-click="previouspage()">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<paging-directive></paging-directive>
						<li>
							<a href="#" aria-label="Next" ng-click="nextpage()">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<footer class="jumbotron" id="foot"></footer>
			</td>
		</tr>

	<!-- End Pagination -->

	</table>

	<!-- Modal delete -->

		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		     <div class="modal-dialog">
			    <div class="modal-content">
			        <div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			        	<h1 class="modal-title custom_align" id="Heading">- Delete This Employee</h1>
			      	</div>
			      	<div class="modal-body">
			       		<div class="alert alert-danger">Are you sure you want to delete this Record?</div>
			      	</div>
			        <div class="modal-footer ">
			        	<button type="button" class="btn btn-danger btn-xs" id="deletecomplete" ng-click="deleteEmployees(employeeDeleted.id)"><i class="fa fa-times modalTimes" aria-hidden="true"></i>Delete</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			      	</div>
			    </div>
			</div>
		</div>

	<!-- End Modal delete -->

	<!-- Modal edit -->

	<form name="modalEdit">
		<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<!-- data-backdrop="static": khong cho ng dung click ra ngoai modal
			 data-keyboard="false": khong cho ng dung bam esc de thoat modal -->
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 id="head">+ Edit Empployee</h1>
		      </div>
		      <div class="modal-body">
		        <p>Name: <br>
		        <input type="text" name="myName" ng-model="empployeesEdit.name" required>
		        <span ng-show="modalEdit.myName.$touched && modalEdit.myName.$invalid">Không được để trống</span>
		        </p>
		        <p>Email: <br>
		        <input type="email" name="myEmail" id="myEmail" ng-model="empployeesEdit.email" required>
		        <span ng-show="modalEdit.myEmail.$touched && modalEdit.myEmail.$invalid">Không được để trống</span>
		        </p>
		        <p>Contact Number: <br>
		        <input type="text" name="myPhone" id="myPhone" ng-model="empployeesEdit.contact_number" required>
		        <span ng-show="modalEdit.myPhone.$touched && modalEdit.myPhone.$invalid">Không được để trống</span>
		        </p>
		        <p>Position: <br>
		        <input type="text" name="myPosition" id="myPosition" ng-model="empployeesEdit.position" required>
		        <span ng-show="modalEdit.myPosition.$touched && modalEdit.myPosition.$invalid">Không được để trống</span>
		        </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-success" ng-click="saveEdit(empployeesEdit.id)"><i class="fa fa-check" aria-hidden="true"></i>Save</button>
		        <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
	</form>

	<!-- End Modal Edit -->

	<!-- Modal Add -->

	<form name="modalAdd">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 id="head">+ Add New Empployee</h1>
					</div>
					<div class="modal-body">
						<form name="myForm">
							<p>Name: <br>
							<input type="text" name="myName" ng-model="myName" required></td>
							<span ng-show="modalAdd.myName.$touched && modalAdd.myName.$invalid">Không được để trống</span>
							</p>
							<p>Email: <br>
							<input type="email" name="myEmail" ng-model="myEmail" required>
							<span ng-show="modalAdd.myEmail.$touched && modalAdd.myEmail.$invalid">Không được để trống</span>
							<span ng-if="modalAdd.myEmail.$touched && modalAdd.myEmail.$invalid.required">Vui Lòng Nhập Đúng Định Dạng Email</span>
							</p>
							<p>Contact Number: <br>
							<input type="text" name="myPhone" ng-model="myPhone" ng-pattern="/^-?[0-9][^\.]*$/" required>
							<span ng-show="modalAdd.myPhone.$error.pattern">Vui Lòng Nhập Số</span>
							<span ng-show="modalAdd.myPhone.$touched && modalAdd.myPhone.$error.required">Không được để trống</span>
							</p>
							<p>Position: <br>
							<input type="text" name="myPosition" ng-model="myPosition" required>
							<span ng-show="modalAdd.myPosition.$touched && modalAdd.myPosition.$invalid">Không được để trống</span>
							</p>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" ng-click="myClick()">Save</button>
						<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- End Modal Add -->

	<!-- Show Detail -->

	<form name="modalEdit">
		<div class="modal fade" id="myShowDetail" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<!-- data-backdrop="static": khong cho ng dung click ra ngoai modal
			 data-keyboard="false": khong cho ng dung bam esc de thoat modal -->
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 id="head">+ Add New Empployee</h1>
		      </div>
		      <div class="modal-body">
		        <p><strong>Name:</strong> 
		        	<span name="myName" ng-bind="empployeesEdit.name"></span>
		        </p>
		        <p><strong>Email:</strong> 
		        	<span name="myEmail" id="myEmail" ng-bind="empployeesEdit.email"></span>
		        </p>
				<p><strong>Contact Number:</strong> 
					<span name="myPhone" id="myPhone" ng-bind="empployeesEdit.contact_number" ></span>
				</p>
				<p><strong>Position:</strong> 
					<span name="myPosition" id="myPosition" ng-bind="empployeesEdit.position"></span>
				</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" data-dismiss="modal" class="cancelModal btn"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
	</form>

	<!-- End Show Detail -->

</body>
</html>