<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="app/lib/angular.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="style.css">
  	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<h1 id="header" align="center">Employeees Management</h1>
		<table id="first" class="jumbotron">
			<tr>
				<td><p id="list">Employees list</p></td>
				<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">+Add Employees</button></td>
			</tr>
			<tr>
				<table class="table table-hover">
	    			<thead>
	      				<tr>
	      					<th>ID</th>
	        				<th>Firstname</th>
	        				<th>Lastname</th>
	        				<th>Email</th>
	        				<th>Contact Number</th>
	        				<th>Position</th>
	      				</tr>
	    			</thead>
	    			<tbody>
	      				<tr>
	      					<td>3001160226</td>
	       					<td>John</td>
	        				<td>Doe</td>
	        				<td>john@example.com</td>
	        				<td>81361351651</td>
	        				<td>Manager</td>
	      				</tr>
	      				<tr>
	      					<td>3001160236</td>
	        				<td>Mary</td>
	        				<td>Moe</td>
	        				<td>mary@example.com</td>
	        				<td>46541521544</td>
	        				<td>Fornt End</td>
	      				</tr>
	      				<tr>
	      					<td>3001160210</td>
	        				<td>July</td>
	        				<td>Dooley</td>
	        				<td>july@example.com</td>
	        				<td>56415616165</td>
	        				<td>Back End</td>
	      				</tr>
	      				<tr ng-repeat="empployee in empployees">
	      					<td>{{empployee.id}}</td>
	      					<td>{{empployee.firstname}}</td>
	      					<td>{{empployee.lastname}}</td>
	      					<td>{{empployee.email}}</td>
	      					<td>{{empployee.phone}}</td>
	      					<td>{{empployee.position}}</td>
	      				</tr>
	    			</tbody>
	  			</table>
	  		</tr>
	  		<tr>
	  			<td>
	  				<footer class="jumbotron" id="foot"></footer>
	  			</td>
	  		</tr>
		</table>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 id="head">+ Add New Empployee</h1>
				</div>
				<div class="modal-body">
					<table>
						<form name="myForm" novalidate>
							<tr>
								<th>ID: </th>
							</tr>
							<tr>
								<td><input type="text" ng-model="myId" required></td>
							</tr>
							<tr>
								<th>First Name: </th>
							</tr>
							<tr>
								<td><input type="text" ng-model="myFirst" required></td>
							</tr>
							<tr>
								<th>Last Name: </th>
							</tr>
							<tr>
								<td><input type="text" ng-model="myLast" required></td>
							</tr>
							<tr>
								<th>Email: </th>
							</tr>
							<tr>
								<td><input type="email" ng-model="myEmail" required></td>
							</tr>
							<tr>
								<th>Contact Number: </th>
							</tr>
							<tr>
								<td><input type="text" ng-model="myPhone" required></td>
							</tr>
							<tr>
								<th>Position: </th>
							</tr>
							<tr>
								<td><input type="text" ng-model="myPosition" required></td>
							</tr>
						</form>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" ng-click="myClick()">Save</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope)
		{
			$scope.myId = "";
			$scope.myFirst = "";
			$scope.myLast = "";
			$scope.myEmail = "";
			$scope.myPhone = "";
			$scope.myPosition = "";

			$scope.empployees = [];
			$scope.myClick = function()
			{
				$scope.empployees = [{
					'id' : $scope.myId,
					'firstname' : $scope.myFirst,
					'lastname' : $scope.myLast,
					'email' : $scope.myEmail,
					'phone' : $scope.myPhone,
					'position' : $scope.myPosition
				}];
			};
		});
	</script>
</body>
</html>