#header
{
	color: red;
}
#first
{
	height: 40px;
	margin: 20px auto 20px auto;
}
#list
{

}
.btn-primary
{
	float: right;
}
.table-hover
{
	width: 800px;
	margin: 20px auto 20px auto;
}
.jumbotron
{
	width: 800px;
	margin: 20px auto 20px auto;
}
